# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
#export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

export LDFLAGS="-L/usr/local/Cellar/libffi/3.0.11/lib -L/usr/local/Cellar/pixman/0.26.2/lib"
export CPPFLAGS="-I/opt/X11/include -I/usr/local/Cellar/libffi/3.0.11/include -I/usr/local/Cellar/pixman/0.26.2/include"

export CC="/usr/local/bin/gcc-4.2"
export CFLAGS="-I/opt/X11/include"

export NODE_PATH=/usr/local/lib/node_modules
